<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <!--Import Custom css-->
    <link rel="stylesheet" href="css/styles.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <main>
        <header class="wc-header"><!-- header -->
          <div class="wc-header-back-btn-holder flex">
            <a href="listings.html"><i class="material-icons">arrow_back</i></a>
          </div>
          <h3 class="header-text-holder"><span class="header-text">Business Profile</span></h3>
          
          <!-- <div class="header-header-title flex"><h3>Business Profile</h3></div> -->
        </header><!-- header end-->
        <div class="flex vertical-after-header"> <!-- profile details -->
          <section id="business-profile" class="holder-60-shadow padding-20 flex">
            <div id="business-name-emph"><h3>yy solicitors</h3></div>
            <!-- <hr /> -->
            <div id="business-profile-details" class="flex">
              <div class="profile-grouping flex">
                <div class="title flex">Company Name</div>
                <div class="detail flex">yy solicitors</div>
              </div> <!-- -->
              <div class="profile-grouping flex">
                <div class="title flex">Address</div>
                <div class="detail flex">Plot 759, Central Business District</div>
              </div> <!-- -->
              <div class="profile-grouping flex">
                <div class="title flex">State</div>
                <div class="detail flex">Abuja</div>
              </div> <!-- -->
              <div class="profile-grouping flex">
                <div class="title flex">Employees</div>
                <div class="detail flex">22</div>
              </div><!-- -->
              <div class="profile-grouping flex">
                <div class="title flex">Phone</div>
                <div class="detail flex">122346776</div>
              </div><!-- -->
              <div class="profile-grouping flex">
                <div class="title flex">Description</div>
                <div class="detail flex">Delivering excellent legal services.</div>
              </div><!-- -->
            </div>
          </section><!-- profile details end. id="profile-reviews-holder"  -->

          <section class="profile-reviews-maker-holder holder-60 padding-20 flex"><!-- review -->
            <div class="header-title"><h3>Reviews</h3></div>
            <div class="profile-review flex padding-20">
              <div class="review-date-time">
                <span class="right">2 Feb, 2018</span>
              </div>
              <div class="reviewer">
                  <ul class="collection">
                      <li class="collection-item avatar">
                        <i class="material-icons circle">face</i>
                        <p><h5>John Doe</h5></p>
                      </li>
                  </ul>
              </div>
              <div class="review padding-left-20">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quasi cupiditate consequuntur ipsa, vitae assumenda architecto qui ex sed itaque?
              </div>
            </div> <!-- -->
            <div class="profile-review flex padding-20">
                <div class="review-date-time">
                  <span class="right">26 Feb, 2018</span>
                </div>
                <div class="reviewer">
                    <ul class="collection">
                        <li class="collection-item avatar">
                          <i class="material-icons circle">face</i>
                          <p><h5>Jane Doe</h5></p>
                        </li>
                    </ul>
                </div>
                <div class="review padding-left-20">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quasi cupiditate consequuntur ipsa, vitae assumenda architecto qui ex sed itaque?
                </div>
              </div>
          </section><!-- reviews end id="profile-review-maker-holder" -->

          <section  class="profile-reviews-maker-holder holder-60 padding-20 flex">
            <div class="header-title"><h3>Add Review</h3></div>
            <div id="review-input-holder">
              <div class="row">
                <form class="col s12 m12 l12">
                  <div class="row">
                    <div class="input-field col s12 m12 l12">
                      <textarea id="review-input" class="materialize-textarea"></textarea>
                      <label for="review-input">Review Business</label>
                    </div>
                  </div>
                  <div id="post-review-holder">
                    <a href="" id="post-review" class="teal right flex">Add review</a>
                  </div>
                </form>
              </div>
            </div>
          </section>
        </div>
        
    </main>
    <!--Import DB file-->
    <script type="text/javascript" src="dummy/db.js"></script>
    <!--Import custom js file-->
    <script type="text/javascript" src="js/index.js"></script>
    <!--Import jquery-->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</body>
</html>