<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <!--Import Custom css-->
    <link rel="stylesheet" href="css/styles.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <main>
        <div class="generic-container flex">
            <section id="landing-section-a" class="flex">
              <div class="landing-info-wrapper">
                <h1 class="padding-left-right-20 no-margin">WeConnect provides a platform that brings businesses and individuals together</h1>
              </div>
              <div class="landing-info-wrapper">
                <h3 class="padding-left-right-20 no-margin">This platform creates awareness for businesses and gives people the ability to reviews businesses they have interacted with</h3>
              </div>
            </section>
            <section id="landing-section-b">
              <div id="landing-login-wrapper">
                <center><h3>sign in</h3></center>
                <div class="row">
                  <form class="col s12 m12 l12">
                    <div class="row">
                      <div class="input-field col s12 m12 l12">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Email</label>
                      </div>
                      <div class="input-field col s12 m12 l12">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Password</label>
                      </div>
                    </div>
                    <a href="listings.html"id="login-btn" class="teal flex">Sign in</a>
                    <center><a href="#" id="landing-reg-btn">Sign up</a></center>
                  </form>
                </div>
              </div>
            </section>
            <section id="register-modal" class="generic-modal flex">
                <div class="generic-modal-content">
                    <!-- <span id="close-register-modal"><i class="material-icons">close</i></span> -->
                    <center><h3>sign up</h3></center>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12 m12">
                            <input id="last_name" type="text" class="validate" />
                            <label for="last_name">Email</label>
                          </div>
                          <div class="input-field col s12 m12">
                            <input id="last_name" type="text" class="validate" />
                            <label for="last_name">Password</label>
                          </div>
                          <div class="input-field col s12 m12">
                            <input id="last_name" type="text" class="validate" />
                            <label for="last_name">Re-type Password</label>
                          </div>
                          </div>
                          <button id="signup-btn" class="teal col s12 m12">Sign up</button>
                          <!-- <center><a href="#" id="landing-reg-btn">Sign up</a></center> -->
                        </form>
                      </div>
                </div>          
            </section>
        </div>
    </main>
    <!--Import custom js file-->
    <script type="text/javascript" src="js/index.js"></script>
    <!--Import jquery-->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</body>
</html>