<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <!--Import Custom css-->
    <link rel="stylesheet" href="css/styles.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

    <main> 
       <header id="listings-header">
        <div id="listings-search-holder" class="flex">
          <div id="listings-filter-switch" class="flex" > <!--filter switch -->
            <div class="switch">
              Filter:
              <label>
                by category
                <input id="listings-switch-input"type="checkbox">
                <span class="lever"></span>
                by location
              </label>
            </div>                    
          </div> <!--filter switch end-->
          <div id="listings-input-holder"> <!--filter search field-->
            <div style="width: 100%; height: 100%">
              <input id="listings-category-input" placeholder="Filter by category" />
              <input id="listings-location-input" placeholder="Filter by location" />
            </div>
          </div> <!--filter search field end-->
          <div id="listings-search-btn-holder"> <!--filter button-->
              <button id="listings-search-btn" class="white"><i class="material-icons">search</i></button>
          </div> <!--filter search button end -->

        </div>
        <div id="listings-add-holder">
          <a href="#">Add Business</a>
        </div>
      </header>
        <section id="listings">
          <ul id="listings-list" class="collection max630">
          </ul>
        </section>
    </main>
    <!--Import DB file-->
    <script type="text/javascript" src="dummy/db.js"></script>
    <!--Import custom js file-->
    <script type="text/javascript" src="js/index.js"></script>
    <!--Import jquery-->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</body>
</html>