<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <!--Import Custom css-->
    <link rel="stylesheet" href="css/styles.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <main>
      <nav class="navbar-fixed teal">
        <div class="nav-wrapper">
            <ul class="right">
                <li><a href="#"><i class="material-icons right">add</i>Add business details</a></li>
                <li><a href="#">    </a></li>
            </ul>
        </div>
      </nav>        
        <section id="listings-search-container">
           <div id="listings-search-holder" class="flex" >
              <input id="listings-search-input" placeholder="Search business" class="validate"/>
              <button id="listings-search-btn" class="white"><i class="material-icons">search</i></button>
           </div>
        </section>
        <section id="listings">

        </section>
    </main>
    <!--Import custom js file-->
    <script type="text/javascript" src="js/index.js"></script>
    <!--Import jquery-->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</body>
</html>