<section id="register-modal" class="generic-modal">
    <div class="generic-modal-content">
        <!-- <span id="close-register-modal"><i class="material-icons">close</i></span> -->
        <center><h3>sign up</h3></center>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 m12">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name">Email</label>
              </div>
              <div class="input-field col s12 m12">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name">Password</label>
              </div>
              <div class="input-field col s12 m12">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name">Re-type Password</label>
              </div>
              </div>
              <button id="signup-btn" class="teal col s12 m12">Sign up</button>
              <!-- <center><a href="#" id="landing-reg-btn">Sign up</a></center> -->
            </form>
          </div>
    </div>
              
</section>