<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <!--Import Custom css-->
    <link rel="stylesheet" href="css/styles.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
    <main>
        <header id="listings-header" class="flex"><!-- header -->
            <div id="listings-header-holder-left-first">
                <div class="wc-header-back-btn-holder flex">
                <a href="businessprofile.html"><i class="material-icons">arrow_back</i></a>
                </div>
            </div>
            <div id="listenings-header-holder-right">
                <div id="listings-search-holder-gen" class="flex">
                <div id="listings-filter-switch" class="flex" > <!--filter switch -->
                    <div class="switch">
                    <label>
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Toggle switch to change filter type">
                            <i class="material-icons">info_outline</i>
                        </a>
                        <input id="listings-switch-input"type="checkbox">
                        <span class="lever"></span>
                    </label>
                    </div>                    
                </div> <!--filter switch end-->
                <div id="listings-input-holder"> <!--filter search field-->
                    <div style="width: 100%; height: 100%">
                    <input id="listings-category-input" placeholder="Filter by category" />
                    <input id="listings-location-input" placeholder="Filter by location" />
                    </div>
                </div> <!--filter search field end-->
                <div id="listings-search-btn-holder"> <!--filter button-->
                    <button id="listings-search-btn" class="white"><i class="material-icons">search</i></button>
                </div> <!--filter search button end -->
                </div>
            </div>
            <div id="listings-add-holder">
            <!-- <a href="addbusiness.html">Add Business</a> -->
            <a id="route-profile-btn" class="flex" href="updatebusinessprofile.html">Update profile</a>
            </div>
            </header><!-- header end -->
      <div class="flex vertical-after-header">
        <section id="update-business-container" class="flex holder-60-shadow padding-20"><!-- business details update form -->
            <div class="row">
                <form class="col s12 ">
                    <div class="row">
                    <div class="input-field col s12 ">
                        <input id="company-name" type="text" class="validate">
                        <label for="company-name">Company name</label>
                    </div>
                    <div class="input-field col s12  ">
                        <input id="address" type="text" class="validate">
                        <label for="address">Address</label>
                    </div>
                    <div class="input-field col s12  ">
                        <input id="state" type="text" class="validate">
                        <label for="state">State</label>
                    </div>
                    <div class="input-field col s12 ">
                        <input id="employees" type="number" class="validate">
                        <label for="employees">Employees</label>
                    </div>
                    <div class="input-field col s12 ">
                        <input id="description" type="text" class="validate">
                        <label for="description">Short description</label>
                    </div>
                    <div class="input-field col s12 ">
                        <input id="category" type="text" class="validate">
                        <label for="category">Category</label>
                    </div>
                    <div class="input-field col s12 ">
                        <input id="phone-number" type="number" class="validate">
                        <label for="phone-number">Phone number</label>
                    </div>
                    </div>
                    <button id="update-business-btn" class="teal col s12 ">Update Business Profile</button>
                    <button id="update-business-cancel-btn" class="teal col s12 ">cancel</button>
                </form>
            </div>
        </section><!-- business details update form end -->
      </div>
    </main>
    <!--Import custom js file-->
    <script type="text/javascript" src="js/index.js"></script>
    <!--Import jquery-->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!--Import materialize.js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</body>
</html>
