PORT="port number"
PROD_DATABASE_URL="producion DB url or connection config object"
PROD_TEST_DATABASE_URL="production test DB url or connection config object"
DEV_DATABASE_URL="Develop DB url or connection config object"
DEV_TEST_DATABASE_URL="Develop test DB url or connection object"
NODE_ENV="current node enviroment e.g test, development"
SENDGRID_API_KEY="api key for sendgrid for password reset"
BASE_URL="Hosted API url"
TESTEMAIL1="first test email address"
TESTPWORD1="password for test"
TESTEMAIL2="deconf test email address"
TESTPWORD2="password for test"
JWT_SECRET="Json web token secret key"
CLOUDINARY_CLOUD_NAME="clodinary cloud name from cloudinary console"
CLOUDINARY_API_KEY="clodinary api key from cloudinary console"
CLOUDINARY_API_SECRET="clodinary api secret from cloudinary console"
