PORT="port number"
PROD_DATABASE_URL="producion DB url or connection config object"
NODE_ENV="current node enviroment e.g test, development"
SENDGRID_API_KEY="api key for sendgrid for password reset"
BASE_URL="Hosted API url"
TESTEMAIL1="first test email address"
TESTPWORD1="password for test"
TESTEMAIL2="deconf test email address"
TESTPWORD2="password for test"