body{
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    margin: 0 !important;
    overflow: auto;
    box-sizing: border-box;
  }
main{
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}
.flex{
  display: flex
}
.vertical-after-header{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem
}
.max630{
  max-width: 630px;
}
.generic-container{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.generic-flex{
  display: flex;
  /* overflow: auto; */
}
.padding-10{
  padding: 10px;
}
.padding-left-right-10{
  padding-left: 10px;
  padding-right: 10px;
}
.padding-20{
  padding: 20px;
}
.padding-left-right-20{
  padding-left: 20px;
  padding-right: 20px;
}
.padding-left-20{
  padding-left: 20px;
}
.holder-60-shadow{
  width: 60vw;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  max-width: 630px;
  margin-bottom: 1rem;
}
.holder-60{
  width: 60vw;
  max-width: 630px;
  margin-bottom: 1rem;
}
.fill{
  height: 100%;
  width: 100%;
}
.no-margin{
  margin: 0;
}
.generic-modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0,0.4);
}
.generic-modal-content {
  background-color: #fefefe;
  /* margin: auto auto auto auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
}

  /* landing */
@media only screen and (min-width: 730px){
  #landing-section-a h1{
    font-size: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    /* overflow: hidden; */
  }
  #landing-section-a h3{
    font-size: 2rem;
  }
  #landing-section-a{
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    /* justify-content: flex-end; */
    padding-top: 80px;
  }
}
@media only screen and (max-width: 730px) {
  #landing-section-a h1 {
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    /* overflow: hidden; */
  }
  #landing-section-a h3 {
  font-size: 1.5rem;
  }
  #landing-section-a {
  height: 100vh;
  width: 50vw;
  flex-direction: column;
  padding-top: 50px;
  }
}
#landing-section-b{
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* margin: auto auto; */
}


#landing-login-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  max-width: 430px;
}
#login-btn{
  border: 0px;
  height: 3rem;
  margin-bottom: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.landing-info-wrapper{
  margin-bottom: 10px;
  /* padding: 20px; */
}
#landing-login-wrapper center h3 {
  margin: 0px;
}
/* register */
#signup-btn{
  border: 0px;
  height: 3rem;
  margin-bottom: 20px;
  color: #fff;
}
#register-modal{
  display: none;
}

/* listings */
#listings{
  margin-top: 6rem;
}
#listings-list{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}
#listings #listings-list .collection-item h4 a {
  color: black
}
#listings-search-holder{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  float: left;
}
.listings-list-groupings{
  height: 3rem;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid teal; */
}
.listings-list-groupings-items-left{
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.listings-list-groupings-items-right{
  width: 70%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  /* border-bottom: 1px solid teal; */
}
.listings-list-groupings-items-right h4{
  margin: 0;
}
#listings-category-input{
  /* width: 50%;
  max-width: 350px; */
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  background-color: #fff;
  padding-left: 20px;
}
#listings-category-input:focus{
  border: 0;
}
#listings-location-input{
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  display: none;
  background-color: #fff;
  padding-left: 20px;
}
#listings-location-input:focus{
  border: 0;
}
#listings-search-btn{
  /* height: 3rem; */
  height: 100%;
  border:0px;
}
#listings-search-btn i{
  line-height: unset;
}
#listings .collection{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border: 0px;
}
#listings-header{
  background-color: #7fc6c8;
  height: 6rem;
  width: 100vw;
  /* position: fixed;
  z-index: 2; */
  position: fixed;
  z-index: 2;
  top: 0;
}
#listings-filter-switch{
  width: 10%;
  height: 55%;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
#listings-input-holder{
  width: 35%;
  height: 55%;
}
#listings-search-btn-holder{
  width: 5%;
  height: 55%;
}
#listings-add-holder{
  width: 20%;
  height:100%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#listings-add-holder a{
  width: 50%;
  height: 50%;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#listings-add-holder a:visited{
  color: white;
}
.switch{
  color: #fff
}
.switch label{
  color: #fff
}
.switch label a{
  color: #fff;
}
.switch label .lever{
  vertical-align: super;
}

/*update business*/
#update-business-container{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
#update-business-btn{
  border: 0px;
  height: 4rem;
  margin-bottom: 20px;
  color: #fff;
}
/**add business*/
#add-business-btn{
  border: 0px;
  height: 4rem;
  margin-bottom: 20px;
  color: #fff;
}
#add-business-container{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
#add-business-holder{
  width: 100%;
  /* height: 50vh; */
  /* max-width: 630px; */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}
#route-profile-btn{
  float: left;
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
  color: #fff;
  justify-content:  center;
  align-items: center;
  width: 20%;
}
.wc-header{
  background-color: #7fc6c8;
  height: 4rem;
  width: 100vw;
  position: fixed;
  z-index: 2;
  top: 0px;
}
.wc-header h3{
  color: #FFF;
  margin: 0;
  float: left;
  width: 70%;
  text-align: center;
  height: 100%;
}
.wc-header h3 span.header-text{
  margin-left: 3%;
  vertical-align: sub;
}
.wc-header-back-btn-holder{
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
  float: left;
}
.wc-header-back-btn-holder a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: transparent;
  border: 0;
}
.wc-header-back-btn-holder a > i{
  color: #FFF
}
/* #add-business-back-btn-holder button > a{
  color: #FFF
} */
.wc-header-back-btn-holderr a:visited{
  color: #FFF
}

/* business profile */

#business-profile{
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  flex-direction: column
}
#business-profile hr {
  width: 100%
}
#business-name-emph{
  width: 100%;
  text-align: center;
  /* font-size: 23px; */
}
#business-profile-details{
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profile-grouping{
  justify-content: flex-start;
  align-items: flex-start;
  height: 5rem;
  width: 100%;
  border-top: 0.5px solid grey;
}
.profile-grouping .title{
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
  border-right: 1px solid grey;
}
.profile-grouping .detail{
  height: 100%;
  width: 70%;
  justify-content: center;
  align-items: center;
}
#profile-reviews-holder{
  background-color: #f7f7f7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-reviews-maker-holder{
  background-color: #f7f7f7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-review{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  background-color: #FFF;
  margin-bottom: 1rem;
}
.review-date-time{
  height: 1rem;
  width: 100%;
}
.reviewer{
  width: 100%;
}
.reviewer ul li {
  display: flex;
  align-items: center
}
#review-input-holder{
  width: 100%
}
#post-review-holder{
  width: 100%;
  height: 3rem
}
#review-input-holder .row {
  margin-bottom: 5px !important;
}
#post-review{
  color: #FFF;
  height: 100%;
  width: 20%;
  justify-content: center;
  align-items: center;
}
#post-review:visited{
  color: #FFF
}
#review-input-holder .row form .row .input-field textarea.materialize-textarea{
  padding: 0 !important
}

/* override */
.reviewer .collection .collection-item.avatar{
  min-height: unset !important;
}
.collection{
  border: 0 !important;
}
.header-title{
  width: 100%;
  height: 5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.header-header-title{
  width: 90%;
  height: 4rem;
  text-align: center;
  float: left;
  justify-content: center;
  align-items: center;
}
/* .header-header-title h3{
  color: #FF